<script id="tooltip-template" type="text/template">
  <div class="tooltip">
    <a href="{{url}}"><img src="{{image_url}}" alt="{{screen_name}}"></a>
    <h1><a href="{{url}}">{{screen_name}}</a></h1>
    <p class="location">{{location}}</p>
    <p class="since">{{created}}</p>
    <ul class="meta">
      <li>Followers: {{followers}}</li>
      <li>Followers: {{followers}}</li>
      <li>Followers: {{followers}}</li>
      <li>Followers: {{followers}}</li>
    </ul>
    <p class="about">{{about_me}}</p>
  </div>
</script>
