//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fi-path: "//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/" !default;

@import 'normalize-scss/_normalize.scss';
@import 'simple-grid';
@import 'foundation-icon-fonts/_foundation-icons.scss';

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin card($background-color,$border-color,$text-color){
  background: $background-color;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 6px;
  color: $text-color;
}

// some defaults

$black: #000;
$white: #fff;
$light-gray: #ccc;
$blue: #353d82;
$gutter: 1rem;;

h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif;
}

//screen readers, because why not
.for-sr-only{
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

body{
  font-family: 'Dosis', sans-serif;
  background: $blue;
}

#intro{
  height: 40vh;
  padding: 5vh 0;
  color: $white;
  text-shadow: 1px 1px 1px $black;
  text-align: center;
  h1{ font-size: rem-calc(60); }
  p{ font-size: rem-calc(20); }
}

nav.pagination, .view-type{
  ul{
    display: block;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      padding: 0 rem-calc(6);
      a{
        color: $white;
        text-decoration: none;
        &.disabled{
          color: $black;
          &:hover{
            cursor: default;
          }
        }
      }
    }
  }
}

.view-type a i{ padding-right: 2px; }
nav.pagination ul{ float: right; }

#projects{
  opacity: 0;
  transition: opacity .5s;

  .project{

    margin-bottom: $gutter;

    .project-wrap{
      @include card($white, $light-gray, $black);
      opacity: .5;
      transition: opacity .25s;

      &:hover{
        opacity: 1;
      }

      > .image{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: 1px solid $black;
      }

    }

    .image{
      max-width: 100%;
      height: auto;
    }

    hgroup, .info, .summary{
      padding: 0 $gutter;
      h1 a{
        color: $black;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    p{
      line-height: 160%;
      &.created{
        font-style: italic;
        margin-top: .5rem;
      }
    }

    hgroup{
      position: relative;
      h1{
        margin: .5rem 0 .25rem 0;
      }
      h2{
        margin: 0;
        &:hover{
          cursor: pointer;
        }
      }
      .tooltip{
        position: absolute;
        transition: opacity .25s;
        z-index: 999;
        top: 100%;
        left: 5%;
        @include card(rgba($black, .85), $light-gray, $white);
        max-width: rem-calc(480);

        .tooltip-wrap{
          padding: $gutter;
          .row{
            display: flex;
            align-items: center;
          }
        }

        .avatar{
          width: 20%;
          padding-right: $gutter;
          .image{
            border-radius: 6px;
            border: 1px solid $black;
          }
          p.location{
            margin-top: .25rem;
            text-align: center;
            font-size: rem-calc(12);
          }
        }

        .summary{
          width: calc(80% - 1rem);
          color: $white;

          h1{ margin: 0; a{ color: $white; } }
          small{ font-style: italic; }
          p.since{ margin-top: .25rem; }

          a{
            color: $white;
            text-decoration: none;

            &:hover{
              text-decoration: underline;
            }

          }

        }

      }

    }

    ul.meta{
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      li{
        list-style: none;
        min-width: 25%;
        font-size: rem-calc(16);
        text-align: center;
        i{
          font-size:rem-calc(20);
          padding-right: .25rem;
          &:before{
            position: relative;
            top: 2px;
          }
        }
      }
    }

    .summary{
      padding-bottom: $gutter;

      .more{
        display: block;
        margin: $gutter 0 0 0;
        background: $light-gray;
        padding: 6px;
        text-align: center;
        color: $black;
        text-decoration: none;
        &:hover{
          background: $black;
          color: $white;
        }
      }
    }

    .info{
      display: none;

      ul.tags{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .tag{
          list-style: none;
          text-align: center;
          text-transform: lowercase;
          margin: 5px;
          padding: 5px;
          min-width: 20%;
          font-size: 75%;
        }

      }

    }

    &.list{
      width: 100%;
      .project-wrap{
        @extend %clearfix;
        > .image{
          max-width: 33%;
          float: left;
          margin-right: $gutter;
          border-top-right-radius: 0;
          border-bottom-left-radius: 6px;
          border-bottom: 0;
          border-right: 1px solid $black;
        }
        > div{
          float: left;
          width: 65.5%;
          padding-top: $gutter;
          padding-bottom: $gutter;
        }
      }
    }

  }


}


@media (max-width: 400px) {
  #projects{
    column-count: 1;
  }
}
