//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fi-path: "//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/" !default;

@import 'normalize-scss/_normalize.scss';
@import 'foundation-icon-fonts/_foundation-icons.scss';

// some defaults

$black: #000;
$white: #fff;
$light-gray: #ccc;
$gutter: 1rem;;

//screen readers, because why not
.for-sr-only{
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

body{
  background: $black;
}

#projects{
  column-count: 3;
  column-gap: $gutter;
  padding: 0 $gutter;
  width: 100%;
  max-width: 85vw;
  margin: 0 auto;

  .project{
    column-span: none;
    -webkit-column-span: none;

    margin-bottom: $gutter;
    border: 1px solid $light-gray;
    background: $white;

    .image{
      max-width: 100%;
      height: auto;
    }

    hgroup, .info, .summary{
      padding: 0 $gutter;
    }

    p{
      line-height: 160%;
    }

    hgroup{
      position: relative;
      h2{
        margin-bottom: 0;
      }
      .tooltip{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba($black, .75);

        .tooltip-wrap{ padding: $gutter; }

        .image{
          float: left;
          width: 20%;
          padding-right: $gutter;
        }

        .summary{
          float: left;
          color: $white;

          h1{ margin: 0; }
          small{ font-style: italic; }

          a{
            color: $white;
            text-decoration: none;

            &:hover{
              text-decoration: underline;
            }

          }

        }

      }

    }

    .summary{
      padding-bottom: $gutter;

      ul.meta{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        li{
          list-style: none;
          min-width: 25%;
        }
      }

      .more{
        display: block;
        margin: $gutter 0 0 0;
        background: $light-gray;
        padding: 6px;
        text-align: center;
        color: $black;
        text-decoration: none;
        &:hover{
          background: $black;
          color: $white;
        }
      }
    }

    .info{
      display: none;

      ul.tags{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .tag{
          list-style: none;
          text-align: center;
          text-transform: lowercase;
          margin: 5px;
          padding: 5px;
          min-width: 20%;
          font-size: 75%;
        }

      }

    }

  }

}


@media (max-width: 400px) {
  #projects{
    column-count: 1;
  }
}
